.container{
    max-width: 1140px;
}
.completed{
    text-decoration: line-through;
}
.search{
    margin-left: 40px;
    width: 308px;
}
.sort{
    width: 85px;
    margin-left: 15px;
    appearance: auto;
}
.btn{
    text-align: left;
}

@media (max-width: 768px) {
    .search{
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .sort{
        width: 45%;
        margin-left: 0;
        margin-right: 10%;
        display: inline-block;
    }
    .sort:last-child{
        margin-right: 0
    }
}